# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\otus-spring\1-Введение в Spring Framework\untitled2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
